{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Login - {% endblock title %}

{% block content %}

<!-- Outer Row -->
<div class="row justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block auth-bg"></div>
                    <div class="col-lg-6">
                        {% include '../includes/messages.html' %}
                        <div class="p-5">
                            <div class="text-center">
                                <h3 class="h4 text-gray-900 mb-4">Inventory Managemest System</h3>
                            </div>
                            <form class="user login" action="{% url 'account_login' %}" method="POST">
                                {% csrf_token %}
                                {{ form|as_crispy_errors }}
                                <div class="form-group">
                                    {% crispy_field form.login 'class' 'form-control form-control-user' %}
                                </div>
                                <div class="form-group">
                                    {% crispy_field form.password 'class' 'form-control form-control-user' %}
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="showPwd">
                                        <label class="custom-control-label" for="showPwd">Show Password</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Login
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{% url 'account_signup' %}">Create an Account!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    const pwdInp = document.getElementById('id_password')
    const showPwd = document.getElementById('showPwd')
    showPwd.addEventListener('click', () => {
        if (pwdInp.type === "password") {
            pwdInp.type = "text";
        } else {
            pwdInp.type = "password";
        }
    })
</script>

{% endblock content %}
