.buttons-right{
    float: right;
}

.navbar-bg-color {
    background-color: #02113f !important;
}

a:hover {
    text-decoration: none !important;
}

.form-control:focus {
    border-color: #02113f;
    box-shadow: none !important;
}

.dark-blue{
    color: #02113f;
}

.asteriskField {
    color: rgb(255, 0, 0) !important;
}