{% extends '../base.html' %}

{% block body %}

<div class="container-fluid">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="{% url 'core:home' %}">Dashboard</a></li>
        <li class="breadcrumb-item active">Purchases</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Product List</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Serial</th>
                            <th>Purchase No.</th>
                            <th>Product Name</th>
                            <th>Warehouse</th>
                            <th>Category</th>
                            <th>Cost Price</th>
                            <th>Sell Price</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ product.purchase_no }}</td>
                                <td>{{ product.product_name }}</td>
                                <td>{{ product.warehouse }}</td>
                                <td>{{ product.category }}</td>
                                <td>{{ product.cost_price }}</td>
                                <td>{{ product.sell_price }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>
                                    {% if request.user.is_staff %}
                                    {% comment %} <a href="{{ product.get_update_url }}" class="btn btn-sm mb-1 btn-outline-info"><i class="fa fa-edit"></i></a>
                                    <a target="_blank" href="{{ product.get_invoice_url }}" class="btn btn-sm mb-1 btn-outline-success"><i class="fa fa-file-alt"></i></a>
                                    <a href="{{ product.get_delete_url }}" class="btn btn-sm mb-1 btn-outline-danger"><i class="fa fa-trash-alt"></i></a> {% endcomment %}
                                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group" role="group" aria-label="First group">
                                            <a href="{{ product.get_update_url }}" class="btn btn-sm mb-1 btn-outline-info"><i class="fa fa-edit"></i></a>
                                            <a target="_blank" href="{{ product.get_invoice_url }}" class="btn btn-sm mb-1 btn-outline-success"><i class="fa fa-file-alt"></i></a>
                                            <a href="{{ product.get_delete_url }}" class="btn btn-sm mb-1 btn-outline-danger"><i class="fa fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock body %}