{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<main>
    <div class="container-fluid">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Purchase</li>
            <li class="breadcrumb-item active">Create New Purchase</li>
        </ol>
        <div class="card mb-4">
            <h5 class="card-header">Create New Purchase</h5>
            <div class="card-body">
                <div class="Product-form">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-3">
                                    {{form.chalan|as_crispy_field}}
                                </div>
                                <div class="col-lg-3">
                                    {{form.supplier|as_crispy_field}}
                                </div>
                                <div class="col-lg-3">
                                    {{form.warehouse|as_crispy_field}}
                                </div>
                                <div class="col-lg-3">
                                    {{form.category|as_crispy_field}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    {{form.name|as_crispy_field}}
                                </div>
                                <div class="col-lg-2">
                                    {{form.price|as_crispy_field}}
                                </div>
                                <div class="col-lg-2">
                                    {{form.quantity|as_crispy_field}}
                                </div>
                                <div class="col-lg-6">
                                    {{form.description|as_crispy_field}}
                                </div>
                            </div>
                        </div>

                        <div class="buttons-right">
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <a class="btn btn-warning" href="{% url 'purchase:purchase-create' %}">Reset</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock body %}

