{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block title %}New Sale - {% endblock title %}

{% block body %}
<main>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">{{ title|title }}</h6>
                    </div>
                <div class="card-body">
                    <div class="Product-form">
                        <form action="." method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-4">
                                        {{ form.customer|as_crispy_field }}
                                    </div>
                                    <div class="col-lg-4">
                                        {{ form.product|as_crispy_field }}
                                    </div>
                                    <div class="col-lg-4">
                                        {{ form.warehouse|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-4">
                                        {{ form.price|as_crispy_field }}
                                    </div>
                                    <div class="col-lg-4">
                                        {{ form.quantity|as_crispy_field }}
                                    </div>
                                    <div class="col-lg-4">
                                        {{ form.status|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        {{ form.description|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <button type="reset" class="btn btn-secondary" type="submit">Reset</button>
                                <button class="btn btn-primary ml-2" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock body %}
