{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<main>
    <div class="container-fluid">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="">Customers</a></li>
            <li class="breadcrumb-item active">{{ customer.name }}</li>
        </ol>

        <div class="card mb-4">
            <h5 class="card-header">Ordered Product by Customer</h5>
            <div class="card-body">
                <div class="department-list">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                    <tr>
                                        {% for product in sellproduct %}
                                        <td>{{ product.id }}</td>
                                        <td>{{ product.product.name }}</td>
                                        <td>{{ product.price}}</td>
                                        <td>{{ product.quantity}}</td>
                                        <td>{{ product.status }}</td>
                                        <td>
                                            {% if request.user.is_staff %}
                                            <a href="{{ customer.get_update_url }}" class="btn btn-sm btn-outline-info"><i class="fa fa-edit"></i></a>
                                            <a href="{{ customer.get_delete_url }}" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-alt"></i></a>
                                            {% endif %}
                                        </td>
                                        {% endfor %}
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock body %}