{% comment %} {% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<main>
    <div class="container-fluid">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Chalan</li>
        </ol>
        <div class="card mb-4">
            <h5 class="card-header"><i class="fas fa-table mr-1"></i>{{ title }}</h5>
            <div class="card-body">
                <div class="customer-form">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.description|as_crispy_field }}
                        </div>

                        <div class="buttons-right">
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <a href="{% url 'core:chalan' %}" class="btn btn-secondary" type="submit">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <h5 class="card-header"><i class="fas fa-table mr-1"></i>Chalan List</h5>
            <div class="card-body">
                <div class="department-list">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for chalan in chalans %}
                                    <tr>
                                        <td>{{ chalan.id }}</td>
                                        <td><a href="{{ chalan.get_absolute_url }}">{{ chalan.name }}</a></td>
                                        <td>{{ chalan.description }}</td>
                                        <td>{{ chalan.date_added|date }}</td>
                                        <td>
                                            {% if request.user.is_staff %}
                                            <a href="{{ chalan.get_update_url }}" class="btn btn-sm btn-outline-info"><i class="fa fa-edit"></i></a>
                                            <a href="{{ chalan.get_delete_url }}" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-alt"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock body %} {% endcomment %}