{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<main>
    <div class="container-fluid">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Chalan</li>
        </ol>

        <div class="card mb-4">
            <h5 class="card-header">
                <i class="fas fa-table mr-1"></i>
                {{ object.name}}
                <small class="buttons-right">Added on: {{ object.date_added|date }}</small>
            </h5>
            <div class="card-body">
                <p>{{ object.description }}</p>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">Purchase Produts</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Products</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Products</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Date</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% for product in object.purchaseproduct_set.all %}
                                                <tr>
                                                    <td>{{ product.name }}</td>
                                                    <td>{{ product.price }}</td>
                                                    <td>{{ product.quantity }}</td>
                                                    <td>{{ product.date_added|date }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">Sell Produts</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Products</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Products</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Date</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% for product in object.sellproduct_set.all %}
                                                <tr>
                                                    <td>{{ product.product.name }}</td>
                                                    <td>{{ product.price }}</td>
                                                    <td>{{ product.quantity }}</td>
                                                    <td>{{ product.date_added|date }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock body %}