{% comment %} {% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<main>
    <div class="container-fluid">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Chalan-In</li>
        </ol>
        <div class="card mb-4">
            <h5 class="card-header">{{ title }}</h5>
            <div class="card-body">
                <div class="customer-form">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{form.chalan|as_crispy_field}}
                                        </div>
                                        <div class="col-lg-12">
                                            {{form.chalan_name|as_crispy_field}}
                                        </div>
                                        <div class="col-lg-6">
                                            {{form.price|as_crispy_field}}
                                        </div>
                                        <div class="col-lg-6">
                                            {{form.quantity|as_crispy_field}}
                                        </div>
                                        <div class="col-lg-12">
                                            {{form.description|as_crispy_field}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    {{form.product|as_crispy_field}}
                                </div>
                            </div>
                        </div>

                        <div class="buttons-right">
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <a href="{% url 'chalan:chalan-out' %}" class="btn btn-secondary" type="submit">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <h5 class="card-header">All Chalan-In list</h5>
            <div class="card-body">
                <div class="department-list">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Chalan</th>
                                    <th>Product</th>
                                    <th>quantity</th>
                                    <th>price</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Chalan</th>
                                    <th>Product</th>
                                    <th>quantity</th>
                                    <th>price</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for chalan in chalan_out %}
                                    <tr>
                                        <td>{{ chalan.id }}</td>
                                        <td>{{ chalan.chalan_name }}</td>
                                        <td>
                                            {% for product in chalan.product.all %}
                                                {{product}},
                                            {% endfor %}
                                        </td>
                                        <td>{{ chalan.quantity }}</td>
                                        <td>{{ chalan.price }}</td>
                                        <td>{{ chalan.description }}</td>
                                        <td>
                                            {% comment %} {% if request.user.is_staff %}
                                            <a href="{{ customer.get_update_url }}" class="btn btn-sm btn-outline-info"><i class="fa fa-edit"></i></a>
                                            <a href="{{ customer.get_delete_url }}" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-alt"></i></a>
                                            {% endif %} {% endcomment %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock body %} {% endcomment %}