{% extends './base.html' %}
{% load crispy_forms_tags %}

{% block title %}Banks{% endblock title %}

{% block body %}

<main>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">{{title|title}}</h6>
                </div>
                <div class="card-body">
                    <div class="category-form">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-3">
                                        {{ form.name|as_crispy_field }}
                                    </div>
                                    <div class="col-lg-3">
                                        {{ form.ac_name|as_crispy_field }}
                                    </div>
                                    <div class="col-lg-3">
                                        {{ form.ac_number|as_crispy_field }}
                                    </div>
                                    <div class="col-lg-3">
                                        {{ form.branch|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <div class="buttons-right">
                                <button class="btn btn-primary" type="submit">Submit</button>
                                <a href="{% url 'core:bank' %}" class="btn btn-secondary" type="submit">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Banks</h6>
                </div>
                <div class="card-body">
                    <div class="department-list">
                        <div class="table-responsive">
                            <table class="table" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>A/C Name</th>
                                        <th>A/C Number</th>
                                        <th>Branch</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bank in banks %}
                                        <tr>
                                            <td>{{ bank.id }}</td>
                                            <td>{{ bank.name }}</td>
                                            <td>{{ bank.ac_name }}</td>
                                            <td>{{ bank.ac_number }}</td>
                                            <td>{{ bank.branch }}</td>
                                            <td>
                                                {% if request.user.is_staff %}
                                                <a href="{{ bank.get_update_url }}" class="btn btn-sm btn-outline-info"><i class="fa fa-edit"></i></a>
                                                <a href="{{ bank.get_delete_url }}" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-alt"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock body %}