{% extends './base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="delete-form">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <h4 class="text-secondary">Are you sure to delete  <span class="text-dark">"{{ object.name }}"</span>    </h4>
                        <div class="form-group">
                            <button class="btn btn-outline-danger btn-sm" type="submit">Yes, Delete</button>
                            <a href="{% url 'core:home' %}" class="btn btn-outline-info btn-sm">No, Don't</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 top20"></div>
        </div>
    </div>
{% endblock content %}