{% extends './base.html' %}

{% block body %}

<div class="container-fluid">
    {% comment %} <h4 class="mt-4"><Dashb></Dashb>oard</h4> {% endcomment %}
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row justify-content-center">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <!-- <h6 class="card-header">Total Customers</h6> -->
                <div class="card-body text-center">{{ total_customer }}  Customers</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="customer/">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-body">{{ total_sell }} Sells</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="sell/products/">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">{{ total_products }} Products</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="product/">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">{{ total_supplier }} Suppliers</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="supplier/">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Product List</div>
                <div class="card-body">

                    <div style="float:right">
                        <a class="btn btn-primary btn-sm mb-3" href="{% url 'core:product-download-csv' %}">Download CSV</a>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    {% comment %} <th>Chalan</th> {% endcomment %}
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Sell Price</th>

                                    {% if request.user.is_staff %}
                                        <th>Action</th>
                                    {% elif request.user.is_customer %}
                                        <th>Action</th>
                                    {% endif %}

                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                    <tr>
                                        {% comment %} <td>{{ product.chalan }}</td> {% endcomment %}
                                        <td>{{ product.product_name }}</td>
                                        <td>{{ product.quantity }}</td>
                                        <td>{{ product.sell_price }}</td>

                                        {% if request.user.is_staff %}
                                        <td>
                                            <a class="btn btn-outline-primary btn-sm" href="{% url 'sell:sell-product' product.pk %}">Sell</a>
                                        </td>
                                        {% elif request.user.is_customer %}
                                        <td>
                                            <a class="btn btn-outline-primary btn-sm" href="{% url 'order:order-create' product.pk %}">Order</a>
                                        </td>
                                        {% endif %}

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5">

        <!-- ========= Chalan List ===========  -->
            {% comment %} <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Chalan List
                    <a class="btn btn-primary btn-sm buttons-right" href="{% url 'core:chalan' %}">New Chalan</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Chalans</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for chalan in chalans %}
                                <tr>
                                    <td><a href="{{ chalan.get_absolute_url }}">{{ chalan.name }}</a></td>
                                    <td>{{ chalan.description }}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div> {% endcomment %}

            <div class="card mb-3 shadow">
                <div class="card-header">
                    <i class="fas fa-chart-pie"></i>
                    Product Amount Chart
                </div>
                <div class="card-body">
                    <canvas id="myChart" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            
        </div>
    </div>
</div>

{% endblock body %}

{% block extra_script %}

    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [
                {% for product in products %}
                    '{{product.name}}',
                {% endfor %}
            ],
            datasets: [{
                label: 'Product by Amount',
                data: [
                    {% for product in products %}
                    {{product.quantity}},
                    {% endfor %}
                ],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 206, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(153, 102, 255)',
                    'rgb(255, 159, 62)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>

{% endblock extra_script %}