{% extends './base.html' %}
{% load crispy_forms_tags %}

{% block title %}New Product - {% endblock title %}

{% block body %}
<main id="addToStock">
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">{{title|title}}</h6>
                </div>
                <div class="card-body">
                    <div class="Product-form">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        {{form.warehouse|as_crispy_field}}
                                    </div>
                                    <div class="col-md-4">
                                        <div id="div_id_category" class="form-group">
                                            <label for="id_category" class=" requiredField">Category<span class="asteriskField">*</span></label>
                                            <div class="">
                                                <select  @change="selectSubcategory(categoryOption)" v-model="categoryOption" name="category" class="select form-control" required="" id="id_category">
                                                    <option value="" selected="" disabled>Select Category</option>
                                                    <option v-for="category in categories" :value="category.id">[[ category.name ]]</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div id="div_id_subcategory" class="form-group">
                                            <label for="id_subcategory" class=" requiredField">Sub-Category<span class="asteriskField">*</span></label>
                                            <div class="">
                                                <select v-model="subcategoryOption" name="subcategory" class="select form-control" required="" id="id_subcategory">
                                                    <option value="" selected="" disabled>Select SubCategory</option>
                                                    <option v-for="subcategory in selectSubcategories" :value="subcategory.id">[[ subcategory.name ]]</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{form.product_name|as_crispy_field}}
                                    </div>
                                    <div class="col-md-4">
                                        {{form.quantity|as_crispy_field}}
                                    </div>
                                    <div class="col-md-4">
                                        {{form.sell_price|as_crispy_field}}
                                    </div>
                                    <div class="col-md-6">
                                        {{form.description|as_crispy_field}}
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-secondary" type="reset">Reset</button>
                                <button class="btn btn-primary ml-2" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock body %}



{% block extra_script %}

<script type="text/javascript">

const createProduct = {
    data(){
        return{
            // category and sub category list
            categories: [],
            subcategories: [],
            selectSubcategories: [],
            // dependent subcategory dropdown
            categoryOption: null,
            subcategoryOption: null,

            errors: []
        }
    },
    created(){
        axios.get('/api/category-create')
        .then(response => {
            this.categories = response.data
        })

        axios.get('/api/subcategory-create')
        .then(response => {
            this.subcategories = response.data
        })
    },
    methods: {
        selectSubcategory(id, subcats=this.subcategories){
            const returnedSubcats = subcats.filter(subcat => subcat.category === id);
            this.selectSubcategories = returnedSubcats
        }
    },
    delimiters: ['[[', ']]']
}


Vue.createApp(createProduct).mount('#addToStock')

</script>

{% endblock extra_script %}
