{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<main>
    <div class="container-fluid">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Order</li>
        </ol>
        <div class="card mb-4">
            <h5 class="card-header">{{title|title}}</h5>
            <div class="card-body">
                <div class="department-list">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total Price</th>
                                    <th>Order Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if request.user.is_customer %}

                                    {% for order in orders %}

                                        <tr>
                                            <td>{{ order.product }}</td>
                                            <td>{{ order.product.sell_price }}</td>
                                            <td>{{ order.quantity }}</td>
                                            <td>{{ order.total_item_price }}</td>
                                            <td>
                                                {% if order.order_status == True %}
                                                    <span class="badge badge-success">Done</span>
                                                {% else %}
                                                    <span class="badge badge-warning">Pending</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ order.get_update_url }}" class="btn btn-sm btn-outline-info"><i class="fa fa-edit"></i></a>
                                                <a href="{{ order.get_delete_url }}" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-alt"></i></a>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                
                                {% endif  %}

                                {% if request.user.is_staff %}

                                    {% for order in allOrders %}

                                    <tr>
                                        <td>{{ order.product }}</td>
                                        <td>{{ order.product.sell_price }}</td>
                                        <td>{{ order.quantity }}</td>
                                        <td>{{ order.total_item_price }}</td>
                                        <td>
                                            {% if order.order_status %}
                                                <span class="badge badge-success">Done</span>
                                            {% else %}
                                                <span class="badge badge-warning">Pending</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'order:sell-order' order.pk %}" class="btn btn-sm btn-outline-info">Sell</a>
                                        </td>
                                    </tr>

                                    {% endfor %}

                                {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock body %}